header {
	
	text-align: center;
  color: blue;
}
body {
  background:black;
  color: white;
  text-align: justify; 
}

a{ color: white; 
  font-size: 12px;

}


header img {
  height: auto;
  width: 500px;
  margin-top: 50px;
}

.body {
margin: 0 auto; 
max-width: 80%;
}

.navbar ul {
  font-family: 'Merriweather', serif;
  text-align: center;
  background-color: rgba(54, 66, 169,0.4);
  padding: 20px;
}

.navbar li {

  display: inline;
  margin: 10px;
}

.hover-me {
  background: url("https://78.media.tumblr.com/b530871191f6d34fd5d3b60099d65372/tumblr_p4ssygAbID1u5kqlyo2_1280.jpg");
  width: 75%;
  height: 200px;
  transition: background 1s;
  margin-left: 140px;
  background-repeat: no-repeat;
}

.hover-me:hover {
  background: url("https://78.media.tumblr.com/5e4b96f88e7a782b0d17ebe5faac8b54/tumblr_p4ssygAbID1u5kqlyo1_1280.jpg");
}


h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;
  padding: 50px;
  text-align: center;
}	

p {
font-family: 'Merriweather', serif;
font-size: 14px;
line-height: 1.6;
padding: 10px;
}

h4 {
font-family: 'Merriweather', serif;
color: white;

}


div {
	margin: 5px;
}

iframe {
   display: block;
   margin: 0 auto;
   padding-top: 10px;
   padding-bottom: 30px;
}

.lovealways { 
padding-bottom: 10px;
text-align: justify;
 }


