html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.nav-wrapper { 
background-color: black; 
font-family: 'Open Sans', sans-serif; 
padding-right: 20px;
padding-left: 10px;
font-weight: bold; 
 }

h1 { font-family: 'Open Sans', sans-serif; 
font-weight: bold; 
font-size: 60px; 



 }

p { 

font-family: 'Share', cursive;
 padding-bottom: 30px; 
 font-size: 16px;

 }

 iframe { 

padding-top: 30px; 

  }

  h2 { 
font-family: 'Open Sans', sans-serif; 
padding-top: 50px; 
font-size: 30px; 
font-weight: bold;
   }

 var instance = M.Tabs.init(el, options);
}  

div {
margin-top: 10px; 
padding-top: 10px; 
margin-bottom: 10px;

}

.image-wrapper { 
margin-left: 40px; 
padding: 10px; 
line-height: 640px;  
 }

article { 
	text-align: left;
	position: relative;
	height: 600px;


}

img { 
	display: block;
	margin: 0 auto;
	opacity: 1.0;
 }

img:hover {
    opacity: .5;

}

text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;    


  }

 }
