html {
   font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.nav-wrapper { 
background-color: black; 
font-family: 'Open Sans', sans-serif; 
padding-right: 20px;
padding-left: 10px;
font-weight: bold; 
 }

h1 { font-family: 'Open Sans', sans-serif; 
font-weight: bold; 
font-size: 40px; 
padding-bottom: 50px; 



 }

p { 

font-family: 'Share', cursive;
 padding-bottom: 10px; 
 font-size: 16px; 
 }

.video-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding-bottom: 30px; 
}
